.container {
  margin: 2rem 0;
  padding: 50px 40px;
  background-color: #FFF;
  border-radius: 10px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Dropdown */
.dropdownBtn {
  background-color: #F0F5FD;
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: grey;
  margin: 0 10px;
}

.dropdownBtn:focus{
  outline: none;
}
/* Dropdown */

/* Search Bar */
.searchBar{
  padding: 0;
  border-radius: 10px;
  width: 350px;
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #0D2341;
}

.searchBar input{
  margin: 0;
  padding: 10px 10px;
  font-weight: 500;
  font-size: 1rem;
  width: 80%;
  background: transparent;
  font-family: "Poppins", serif;
  border: none;
}

.searchBar input::placeholder{
  color: #133461;
}

.searchBar img{
  margin-left: 20px;
}

.searchBar input:focus{
  outline: none;
}
/* Search Bar */


/* Table */
.table{
  margin: 20px 0
}
.table > table{
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-collapse: separate;
  border-spacing: 0 20px;
}

.table > table > thead > tr > td{
  font-size: 18px;
  font-weight: 500;
  color: #0D2341;
}
.table > table > tbody > tr > td{
  font-weight: 500;
  color: #0D2341;
}
/* Table */

.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

/* Loading */
.spinnerContain{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}